.fuente{
    font-family: 'Bebas Neue', cursive;
}
.color1{
    background-color: #17A589;
}
.color2{
    background-color: #2E86C1;
}
.justy{
    text-align: justify;
}
.centro{
    text-align: center;
}